 :root {
--color-purple-1: hsl(260, 100%, 95%);
--color-purple-2: hsl(264, 82%, 80%);
--color-purple-3: hsl(263, 55%, 52%);

--color-white: hsl(0, 0%, 100%);
--color-grey-1: hsl(214, 17%, 92%);
--color-grey-2: hsl(0, 0%, 81%);
--color-grey-3: hsl(224, 10%, 45%);
--color-grey-4: hsl(217, 19%, 35%);
--color-dark-blue: hsl(219, 29%, 14%);
--color-black: hsl(0, 0%, 7%);
--font-weight-1: 500px;
--font-weight-2: 700;
--font-size-1: 1rem;
--font-size-2: 1.8rem;

 }
 
 
 body{
    font-family: "barlow semi condensed";
 cursor: default;
 background-color: var(--color-grey-1);
}
/*------------------------------------MOBILE-SIZE---------------------------*/
@media screen and (max-width: 500px){
   body {
      margin: 100px auto;
   }
.containers { 
font-weight: var(--font-weight-1);
font-size: var(--font-size-1);

}

img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   
}
.box {
   display: flex;
   gap: 20px;
   text-transform: capitalize;
   font-weight: 400;
   align-items: center;
   
}
.test-text {
   font-size: var(--font-size-2);
   font-weight: var(--font-weight-2);
}
#dan {
   background-color: var(--color-purple-3);
  width: 320px;
   height: 500px;
   color: var(--color-white);
   border-radius: 10px;
   padding: 30px;
   margin: 30px auto;
   box-shadow: 10px 60px 50px rgb(196, 195, 195);
}
.name {
   font-weight: var(--font-weight-2);
}


#jon {
   background-color: var(--color-grey-4);
  width: 320px;
   height: 280px;
   color: var(--color-white);
   border-radius: 10px;
   padding: 30px;
   margin: 30px auto;
   box-shadow: 10px 50px 50px rgb(196, 195, 195);

}
 
   #jean {
   background-color: var(--color-white);
   width: 320px;
   height: 250px;
   color: var(--color-grey-4);
   border-radius: 10px;
  padding: 30px;
   margin: 30px auto;
   box-shadow: 10px 50px 50px rgb(196, 195, 195);

}

#patr {
   background-color: var(--color-dark-blue);
   width: 320px;
   height: 500px;
   color: var(--color-white);
   border-radius: 10px;
   padding: 30px;
   margin: 30px auto;
  box-shadow: 10px 50px 50px rgb(196, 195, 195);

}

#v-grad {
   direction: column;
}

#kira {
   background-color: var(--color-white);
   width: 320px;
   height: 500px;
   color: var(--color-grey-4);
   border-radius: 10px;
  padding: 30px;
   margin: 30px auto;
   box-shadow: 10px 50px 50px rgb(196, 195, 195);

}

}
/*-------------------------------DESKTOP-SIZE----------------------------*/

@media screen and (min-width: 501px){

   .containers {
      display: grid;
   grid-template-areas:
   "dan dan jon kira" 
   "jean patr patr kira";
   gap: 20px;
   margin: 150px;
   box-sizing: border-box;
   }
#dan, #jon, #jean, #patr, #kira {
   padding: 30px;
border-radius: 10px;
box-shadow: 10px 50px 50px rgb(196, 195, 195);
box-sizing: border-box;
line-height: var(--font-size-2);

}
#v-grad {
   direction: column;
}
.name {
   font-weight: var(--font-weight-2);
}
.test-text {
   font-size: var(--font-size-2);
   font-weight: var(--font-weight-2);
}

#dan {
   grid-area: dan;
   background-color: var(--color-purple-3);
   background-image: url('/bg-pattern-quotation.svg');
   background-size: auto;
   background-repeat: no-repeat;
   background-position: top right;
   color: var(--color-white);
   width: 40vw;
}

#jon {
   grid-area: jon;
   background-color: var(--color-grey-4);
   color: var(--color-white);
    width: 20vw;
}

#jean {
   grid-area: jean;
   background-color: var(--color-white);
      color: var(--color-grey-4);
       width: 20vw;
}

#patr {
   grid-area: patr;
   background-color: var(--color-black);
   color: var(--color-grey-1);
    width: 40vw;
}

#kira {
   grid-area: kira;
   background-color: var(--color-white);
      color: var(--color-grey-4);
       width: 20vw;
}
img {
   width: 25px;
   height: 25px;
   border-radius: 50%;
}

.box {
   display: flex;
   gap: 10px;
   text-transform: capitalize;
   font-weight: 400;
   align-items: center;
}
p {
font-size: var(--font-size-1);
font-weight: var(--font-weight-1);

}

}